.gallery {
  padding: 40px 15px;
}

.gallery__title {
  margin-bottom: 60px;
  text-align: center;
}

.gallery__header {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
}

.gallery__text {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
}

.gallery__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: #195ccf;
  border-bottom: 1px dashed #195ccf;
  transition: all 0.3s;

  &:hover {
    color: $main-color;
    border-color: $main-color;
  }
}

.gallery__content {
  padding: 40px 15px;
  background: linear-gradient(180deg, #f5f5f6 0%, #dadbda 100%);
  border-radius: 0 0 30px 30px;
}

.gallery__more {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: inline-block;
  padding: 7px;
  font-weight: 700;

  font-size: 12px;
  line-height: 14px;
  font-family: $title-font;
  background: linear-gradient(90deg, #e0c43c 1.4%, #d09b2b 98.48%);
  border-radius: 4px;
}

.gallery__img {
  content: "";
  position: relative;
  height: 400px;
  background-image: url("../../img/photo.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  border-radius: 30px 30px 0 0;
}


@media (min-width: 1200px) {
  .gallery {
    @include page-wrapper;
    padding-top: 130px;
    padding-bottom: 115px;
  }


  .gallery__title {
    margin-bottom: 105px;
    font-size: 35px;
    text-transform: uppercase;
  }

  .gallery__inner {
    position: relative;
    display: flex;
  }

  .gallery__content {
    width: 715px;
    margin-left: auto;
    padding: 58px 35px 78px 147px;
    border-radius: 20px;
  }

  .gallery__img {
    position: absolute;
    top: -40px;
    width: 566px;
    height: 561px;
    border-radius: 30px;
  }

  .gallery__more {
    bottom: 30px;
    left: 30px;

    &:hover {
      color: #ffffff;
      background: $active-color;
    }
  }
}
