.title {
  margin: 0;
  font-weight: 500;
  font-family: $title-font;

  &--promo {
    font-size: 36px;
    color: $dark;
    letter-spacing: 4px;
  }

  &--section {
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.05em;
  }
}

@media (min-width: 768px) {
  .title {
    &--promo {
      font-size: 60px;
    }
  }
}
