<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>О компании | Риваль</title>
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="css/main.min.css">
</head>
<body ontouchstart>
//= "../blocks/header/header.html"
<main>
  <section class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="index.html">Главная</a></li>
      <li class="breadcrumbs__item">О компании</li>
    </ul>
  </section>
  <section class="about">
    <h1 class="about__title title title--page">О компании</h1>
    <p class="about__desc">ООО «РИВАЛЬ» находится в г.Екатеринбурге и занимается более 2 лет производством косметологического, педикюрного оборудования, а также оборудования для тату салонов, подкатных тележек, аппаратных столиков и дополнительного оснащения.</p>
    <div class="about__row">
      <img src="../img/about__img.jpg" alt="" class="about__img">
      <p class="about__small">За этот период, пройдя через ряд ошибок и неудач, нами наработан большой практический опыт решения определенных задач по производству данного оборудования.</p>
    </div>
    <div class="about__row">
      <a href="#photo" class="about__see">
        <svg class="about__icon">
          <use xlink:href="img/sprites/sprite.svg#icon__photo"></use>
        </svg>
        <span>Посмотрите как мы производим нашу мебель</span>
      </a>
      <div class="about__content">
        <p class="about__text">Анализируя требования наших покупателей, мы с благодарностью воспринимали и воспринимаем их замечания, и шаг за шагом совершенствуем свою продукцию. Изготавливаем ее, используя различные конструкторские решения и различные виды материалов,  делая ее надежной и доступной по цене.</p>
        <p class="about__text">Симбиоз отдела продаж, конструкторского бюро, коллектива производственников и логистов нашей компании, позволяет нам оперативно производить и доставлять продукцию во все уголки нашей страны !</p>
      </div>
    </div>
    <h2 class="about__sub-title title title--page"><span>Гарантируем качество</span> и долгий срок службы мебели</h2>
    <div class="about__control">
      <button class="about__button about__button--left">Назад</button>
      <button class="about__button about__button--right">Вперед</button>
    </div>
    <ul class="about__list warranty">
      <li class="warranty__item">
        <div class="warranty__inner">
          <span class="warranty__number">01</span>
          <img src="../img/r1.png" alt="" class="warranty__img">
<!--          <p class="warranty__header">Долговечные материалы</p>-->
<!--          <p class="warranty__desc">и качественная фурнитура</p>-->
          <p class="warranty__text">Применяются только современные и экологичные материалы. Например специализированная, медицинская, дышащая экокожа пр-во Турции. Хорошо моется, гипоаллергенная, не токсичная, и безопасная. Хорошо моется и не выцветает. Выдерживает 50 000 циклов. </p>
        </div>
      </li>
      <li class="warranty__item">
        <div class="warranty__inner">
          <span class="warranty__number">02</span>
          <img src="../img/r2.png" alt="" class="warranty__img">
<!--          <p class="warranty__header">Система контроля качества</p>-->
<!--          <p class="warranty__desc">по 48 пунктам</p>-->
          <p class="warranty__text">Мы доверяем и уважаем нашим клиентам! В сфере красоты и здоровья работают ответственные и порядочные люди, поэтому отгружаем быстро и без предоплаты. Достаточно Заявки и ваш заказ уже в пути! <br><br></p>
        </div>
      </li>
      <li class="warranty__item">
        <div class="warranty__inner">
          <span class="warranty__number">03</span>
          <img src="../img/r3.png" alt="" class="warranty__img">
<!--          <p class="warranty__header">Квалифицированные мастера,</p>-->
<!--          <p class="warranty__desc">которые проходят отбор</p>-->
          <p class="warranty__text">Только мы изготавливаем особо прочные каркасы под названием «Усиленный», одновременно обладающие  легкостью и изящностью конструкторских решений.  Каркасы сборные. В разобранном виде очень компакты и хорошо упакованы в надежную тару. </p>
        </div>
      </li>
      <li class="warranty__item">
        <div class="warranty__inner">
          <span class="warranty__number">04</span>
          <img src="../img/r4.png" alt="" class="warranty__img">
<!--          <p class="warranty__header">Квалифицированные мастера,</p>-->
<!--          <p class="warranty__desc">которые проходят отбор</p>-->
          <p class="warranty__text"> Только мы изготавливаем особый вид обивки для наших кресел, под названием «Анатомическая», разработанная для специалистов желающих предоставить для своих клиентов особые и комфортные условия во время проведения долговременных процедур. </p>
        </div>
      </li>
    </ul>
    <div class="about__gallery" id="photo">
      <h2 class="about__sub-title about__sub-title--gallery title title--page"><span>Производим мебель</span>  на собственном производстве</h2>
      <p class="about__text about__text--grey">Контролируем качество и несем ответственность за каждый этап</p>
      <div class="about__row">
        <a href="../img/about__gallery--00.jpg" class="about__fancy" data-fancybox="gallery">
          <img src="../img/about__gallery--00.jpg" alt="">
          <p class="about__gallery-desc">На дорогостоящем оборудовании стоимостью 150 000$ изготавливаем мебель высочайшего качества</p>
        </a>
        <div class="about__col">
          <a href="../img/about__gallery--01.jpg" class="about__fancy" data-fancybox="gallery">
            <img src="../img/about__gallery--01.jpg" alt="">
            <p class="about__gallery-desc">Собираем и дорабатываем мебель в своем сборочном цехе</p>
          </a>
          <a href="../img/about__gallery--02.jpg" class="about__fancy" data-fancybox="gallery">
            <img src="../img/about__gallery--02.jpg" alt="">
            <p class="about__gallery-desc">Собираем и дорабатываем мебель в своем сборочном цехе</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
//= "../blocks/footer/footer.html"
//= "../blocks/modal/modal.html"
<script src="js/libs.js"></script>
<script src="js/general.js"></script>
</body>
</html>
