<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Риваль</title>
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="css/main.min.css">
</head>
<body ontouchstart>
  <header class="header">
    <div class="header__top">
      <a href="#" class="header__logo logo">
        <picture>
          <source srcset="../img/logo.webp" type="image/webp">
          <img src="../img/logo.png" alt="logo">
        </picture>
      </a>
      <nav class="header__menu menu">
        <button class="menu__btn ">
          <span class="menu__hamburger">Открыть меню</span>
        </button>
        <div class="header__menu-wrapper">
          <div class="header__menu-inner">
            <ul class="menu__list">
              <li class="menu__item"><a href="">О компании</a></li>
              <li class="menu__item"><a href="">Каталог</a></li>
              <li class="menu__item"><a href="">Доставка и оплата</a></li>
              <li class="menu__item"><a href="">Гарантии</a></li>
              <li class="menu__item"><a href="">Юр. лицам</a></li>
              <li class="menu__item"><a href="">Отзывы</a></li>
              <li class="menu__item"><a href="">Контакты</a></li>
            </ul>
            <div class="header__contacts">
              <div class="header__phone">
                <a href="tel:+79617786661">
                  <svg class="header__icon">
                    <use xlink:href="img/sprites/sprite.svg#icon__phone"></use>
                  </svg>
                  <span>+7 (961) 778-66-61</span>
                </a>
                <p>ежедневно с 9-21.00</p>
              </div>
              <div class="header__social">
                <a href="#" class="header__whatsapp">
                  <svg class="header__icon">
                    <use xlink:href="img/sprites/sprite.svg#icon__whatsapp"></use>
                  </svg>
                  <span class="visually-hidden">WhatsApp</span>
                </a>
                <a href="mailto:mail@mail.ru" class="header__email">
                  <svg class="header__icon">
                    <use xlink:href="img/sprites/sprite.svg#icon__mail"></use>
                  </svg>
                  <span class="visually-hidden">Email</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="header__bottom">
      <ul class="header__categories categories">
        <li class="categories__item"><a href="">Косметологические кресла</a></li>
        <li class="categories__item"><a href="">Педикюрные кресла</a></li>
        <li class="categories__item"><a href="">Кресла для тату</a></li>
        <li class="categories__item"><a href="">Доп. оборудование</a></li>
      </ul>
      <a href="" class="header__m-cart m-cart">
        <div class="m-cart__left">
          <svg class="m-cart__icon icon">
            <use xlink:href="img/sprites/sprite.svg#icon__cart"></use>
          </svg>
          <span class="m-cart__count">1</span>
        </div>
        <div class="m-cart__right">
          <p class="m-cart__header">Корзина</p>
          <p class="m-cart__text">2 товара <span>31 700₽</span></p>
        </div>
      </a>
    </div>
  </header>
  <main>
    //= "../blocks/promo/promo.html"
    //= "../blocks/advantages/advantages.html"
    <section class="m-catalog catalog">
      <h2 class="m-catalog__title title title--section">Каталог товаров</h2>
      <ul class="m-catalog__categories">
        <li class="m-catalog__category m-catalog__category--active"><a href="">Педикюрные кресла</a></li>
        <li class="m-catalog__category"><a href="">Косметологические кресла</a></li>
        <li class="m-catalog__category"><a href="">Кресла для тату</a></li>
        <li class="m-catalog__category"><a href="">Доп.оборудование</a></li>
      </ul>
      <ul class="catalog__list">
        <li class="catalog__item">
          <div class="catalog__flag">
            <div class="catalog__icon-wrapper">
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__mech"></use>
              </svg>
            </div>
            <span class="catalog__desc">До 200 кг!</span>
          </div>
          <a href="" class="catalog__img">
            <img src="../img/catalog__img--00.png" alt="">
          </a>
          <p class="catalog__categories">ПЕДИКЮРНЫЕ КРЕСЛА</p>
          <a href="#" class="catalog__name">Кресло педикюрное Усиленный  69 см</a>
          <div class="catalog__controls">
            <div class="catalog__price-wrapper">
              <span class="catalog__label">Цена:</span>
              <span class="catalog__price">100 200 ₽ </span>
            </div>
            <a href="" class="catalog__btn">
              <span class="visually-hidden">Добавить в корзину</span>
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__add-to-basket"></use>
              </svg>
            </a>
          </div>
          <div class="catalog__info">
            <div class="catalog__row">
              <span class="catalog__label">Цвета:</span>
              <ul class="catalog__color color">
                <li class="color__item color__item--white"><span class="visually-hidden">Белый</span></li>
                <li class="color__item color__item--beige"><span class="visually-hidden">Бежевый</span></li>
                <li class="color__item color__item--green"><span class="visually-hidden">Зеленый</span></li>
                <li class="color__item color__item--black"><span class="visually-hidden">Черный</span></li>
              </ul>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип обивки:</span>
              <span class="catalog__text">Стандарт</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Материал:</span>
              <span class="catalog__text">Экокожа</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип каркаса:</span>
              <span class="catalog__text">С фиксированной высотой (69см)</span>
            </div>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__flag">
            <div class="catalog__icon-wrapper">
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__carcas"></use>
              </svg>
            </div>
            <span class="catalog__desc">До 200 кг!</span>
          </div>
          <a href="" class="catalog__img">
            <img src="../img/catalog__img--01.png" alt="">
          </a>
          <p class="catalog__categories">ПЕДИКЮРНЫЕ КРЕСЛА</p>
          <a href="#" class="catalog__name">Кресло педикюрное Элегия 1</a>
          <div class="catalog__controls">
            <div class="catalog__price-wrapper">
              <span class="catalog__label">Цена:</span>
              <span class="catalog__price">10 900 ₽ </span>
            </div>
            <a href="" class="catalog__btn">
              <span class="visually-hidden">Добавить в корзину</span>
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__add-to-basket"></use>
              </svg>
            </a>
          </div>
          <div class="catalog__info">
            <div class="catalog__row">
              <span class="catalog__label">Цвета:</span>
              <ul class="catalog__color color">
                <li class="color__item color__item--white"><span class="visually-hidden">Белый</span></li>
                <li class="color__item color__item--beige"><span class="visually-hidden">Бежевый</span></li>
                <li class="color__item color__item--green"><span class="visually-hidden">Зеленый</span></li>
                <li class="color__item color__item--black"><span class="visually-hidden">Черный</span></li>
              </ul>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип обивки:</span>
              <span class="catalog__text">Стандарт</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Материал:</span>
              <span class="catalog__text">Экокожа</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип каркаса:</span>
              <span class="catalog__text">С фиксированной высотой (69см)</span>
            </div>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__flag">
            <div class="catalog__icon-wrapper">
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__power"></use>
              </svg>
            </div>
            <span class="catalog__desc">До 200 кг!</span>
          </div>
          <a href="" class="catalog__img">
            <img src="../img/catalog__img--02.png" alt="">
          </a>
          <p class="catalog__categories">ПЕДИКЮРНЫЕ КРЕСЛА</p>
          <a href="#" class="catalog__name">Кресло Гармония 1 “Пневмо” (Пневматическая регулировка)</a>
          <div class="catalog__controls">
            <div class="catalog__price-wrapper">
              <span class="catalog__label">Цена:</span>
              <span class="catalog__price">7 540 ₽ </span>
            </div>
            <a href="" class="catalog__btn">
              <span class="visually-hidden">Добавить в корзину</span>
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__add-to-basket"></use>
              </svg>
            </a>
          </div>
          <div class="catalog__info">
            <div class="catalog__row">
              <span class="catalog__label">Цвета:</span>
              <ul class="catalog__color color">
                <li class="color__item color__item--white"><span class="visually-hidden">Белый</span></li>
                <li class="color__item color__item--beige"><span class="visually-hidden">Бежевый</span></li>
                <li class="color__item color__item--green"><span class="visually-hidden">Зеленый</span></li>
                <li class="color__item color__item--black"><span class="visually-hidden">Черный</span></li>
              </ul>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип обивки:</span>
              <span class="catalog__text">Стандарт</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Материал:</span>
              <span class="catalog__text">Экокожа</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип каркаса:</span>
              <span class="catalog__text">С фиксированной высотой (69см)</span>
            </div>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__flag">
            <div class="catalog__icon-wrapper">
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__pnevmo"></use>
              </svg>
            </div>
            <span class="catalog__desc">До 200 кг!</span>
          </div>
          <a href="" class="catalog__img">
            <img src="../img/catalog__img--03.png" alt="">
          </a>
          <p class="catalog__categories">ПЕДИКЮРНЫЕ КРЕСЛА</p>
          <a href="#" class="catalog__name">Кресло КАРКАС Усиленный (69см) </a>
          <div class="catalog__controls">
            <div class="catalog__price-wrapper">
              <span class="catalog__label">Цена:</span>
              <span class="catalog__price">21 930 ₽ </span>
            </div>
            <a href="" class="catalog__btn">
              <span class="visually-hidden">Добавить в корзину</span>
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__add-to-basket"></use>
              </svg>
            </a>
          </div>
          <div class="catalog__info">
            <div class="catalog__row">
              <span class="catalog__label">Цвета:</span>
              <ul class="catalog__color color">
                <li class="color__item color__item--white"><span class="visually-hidden">Белый</span></li>
                <li class="color__item color__item--beige"><span class="visually-hidden">Бежевый</span></li>
                <li class="color__item color__item--green"><span class="visually-hidden">Зеленый</span></li>
                <li class="color__item color__item--black"><span class="visually-hidden">Черный</span></li>
              </ul>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип обивки:</span>
              <span class="catalog__text">Стандарт</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Материал:</span>
              <span class="catalog__text">Экокожа</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип каркаса:</span>
              <span class="catalog__text">С фиксированной высотой (69см)</span>
            </div>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__flag">
            <div class="catalog__icon-wrapper">
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__mech"></use>
              </svg>
            </div>
            <span class="catalog__desc">До 200 кг!</span>
          </div>
          <a href="" class="catalog__img">
            <img src="../img/catalog__img--00.png" alt="">
          </a>
          <p class="catalog__categories">ПЕДИКЮРНЫЕ КРЕСЛА</p>
          <a href="#" class="catalog__name">Кресло КАРКАС Усиленный (69см) </a>
          <div class="catalog__controls">
            <div class="catalog__price-wrapper">
              <span class="catalog__label">Цена:</span>
              <span class="catalog__price">1 000 ₽ </span>
            </div>
            <a href="" class="catalog__btn">
              <span class="visually-hidden">Добавить в корзину</span>
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__add-to-basket"></use>
              </svg>
            </a>
          </div>
          <div class="catalog__info">
            <div class="catalog__row">
              <span class="catalog__label">Цвета:</span>
              <ul class="catalog__color color">
                <li class="color__item color__item--white"><span class="visually-hidden">Белый</span></li>
                <li class="color__item color__item--beige"><span class="visually-hidden">Бежевый</span></li>
                <li class="color__item color__item--green"><span class="visually-hidden">Зеленый</span></li>
                <li class="color__item color__item--black"><span class="visually-hidden">Черный</span></li>
              </ul>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип обивки:</span>
              <span class="catalog__text">Стандарт</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Материал:</span>
              <span class="catalog__text">Экокожа</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип каркаса:</span>
              <span class="catalog__text">С фиксированной высотой (69см)</span>
            </div>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__flag">
            <div class="catalog__icon-wrapper">
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__carcas"></use>
              </svg>
            </div>
            <span class="catalog__desc">До 200 кг!</span>
          </div>
          <a href="" class="catalog__img">
            <img src="../img/catalog__img--01.png" alt="">
          </a>
          <p class="catalog__categories">ПЕДИКЮРНЫЕ КРЕСЛА</p>
          <a href="#" class="catalog__name">Кресло КАРКАС Усиленный (69см) </a>
          <div class="catalog__controls">
            <div class="catalog__price-wrapper">
              <span class="catalog__label">Цена:</span>
              <span class="catalog__price">873 ₽ </span>
            </div>
            <a href="" class="catalog__btn">
              <span class="visually-hidden">Добавить в корзину</span>
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__add-to-basket"></use>
              </svg>
            </a>
          </div>
          <div class="catalog__info">
            <div class="catalog__row">
              <span class="catalog__label">Цвета:</span>
              <ul class="catalog__color color">
                <li class="color__item color__item--white"><span class="visually-hidden">Белый</span></li>
                <li class="color__item color__item--beige"><span class="visually-hidden">Бежевый</span></li>
                <li class="color__item color__item--green"><span class="visually-hidden">Зеленый</span></li>
                <li class="color__item color__item--black"><span class="visually-hidden">Черный</span></li>
              </ul>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип обивки:</span>
              <span class="catalog__text">Стандарт</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Материал:</span>
              <span class="catalog__text">Экокожа</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип каркаса:</span>
              <span class="catalog__text">С фиксированной высотой (69см)</span>
            </div>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__flag">
            <div class="catalog__icon-wrapper">
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__pnevmo"></use>
              </svg>
            </div>
            <span class="catalog__desc">До 200 кг!</span>
          </div>
          <a href="" class="catalog__img">
            <img src="../img/catalog__img--03.png" alt="">
          </a>
          <p class="catalog__categories">ПЕДИКЮРНЫЕ КРЕСЛА</p>
          <a href="#" class="catalog__name">Кресло КАРКАС Усиленный (69см) </a>
          <div class="catalog__controls">
            <div class="catalog__price-wrapper">
              <span class="catalog__label">Цена:</span>
              <span class="catalog__price">21 930 ₽ </span>
            </div>
            <a href="" class="catalog__btn">
              <span class="visually-hidden">Добавить в корзину</span>
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__add-to-basket"></use>
              </svg>
            </a>
          </div>
          <div class="catalog__info">
            <div class="catalog__row">
              <span class="catalog__label">Цвета:</span>
              <ul class="catalog__color color">
                <li class="color__item color__item--white"><span class="visually-hidden">Белый</span></li>
                <li class="color__item color__item--beige"><span class="visually-hidden">Бежевый</span></li>
                <li class="color__item color__item--green"><span class="visually-hidden">Зеленый</span></li>
                <li class="color__item color__item--black"><span class="visually-hidden">Черный</span></li>
              </ul>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип обивки:</span>
              <span class="catalog__text">Стандарт</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Материал:</span>
              <span class="catalog__text">Экокожа</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип каркаса:</span>
              <span class="catalog__text">С фиксированной высотой (69см)</span>
            </div>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__flag">
            <div class="catalog__icon-wrapper">
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__mech"></use>
              </svg>
            </div>
            <span class="catalog__desc">До 200 кг!</span>
          </div>
          <a href="" class="catalog__img">
            <img src="../img/catalog__img--00.png" alt="">
          </a>
          <p class="catalog__categories">ПЕДИКЮРНЫЕ КРЕСЛА</p>
          <a href="#" class="catalog__name">Кресло педикюрное Усиленный  69 см</a>
          <div class="catalog__controls">
            <div class="catalog__price-wrapper">
              <span class="catalog__label">Цена:</span>
              <span class="catalog__price">100 200 ₽ </span>
            </div>
            <a href="" class="catalog__btn">
              <span class="visually-hidden">Добавить в корзину</span>
              <svg class="catalog__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__add-to-basket"></use>
              </svg>
            </a>
          </div>
          <div class="catalog__info">
            <div class="catalog__row">
              <span class="catalog__label">Цвета:</span>
              <ul class="catalog__color color">
                <li class="color__item color__item--white"><span class="visually-hidden">Белый</span></li>
                <li class="color__item color__item--beige"><span class="visually-hidden">Бежевый</span></li>
                <li class="color__item color__item--green"><span class="visually-hidden">Зеленый</span></li>
                <li class="color__item color__item--black"><span class="visually-hidden">Черный</span></li>
              </ul>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип обивки:</span>
              <span class="catalog__text">Стандарт</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Материал:</span>
              <span class="catalog__text">Экокожа</span>
            </div>
            <div class="catalog__row">
              <span class="catalog__label">Тип каркаса:</span>
              <span class="catalog__text">С фиксированной высотой (69см)</span>
            </div>
          </div>
        </li>
      </ul>
      <a href="" class="m-catalog__button button button--transparent">
        <span class="button__text">ПОКАЗАТЬ ЕЩЕ</span>
      </a>
    </section>
    //= "../blocks/consultation/consultation.html"
  </main>
  <script src="js/vendor.min.js"></script>
  <script src="js/general.min.js"></script>
</body>
</html>
