<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Юридическим лицам | Риваль</title>
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="css/main.min.css">
</head>
<body ontouchstart>
//= "../blocks/header/header.html"
<main>
  <section class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="index.html">Главная</a></li>
      <li class="breadcrumbs__item">Юр. лицам</li>
    </ul>
  </section>
  <section class="simple">
    <div class="simple__wrapper">
      <h1 class="simple__title title title--page">Юридическим лицам</h1>
      <p class="simple__text">ООО «РИВАЛЬ» находится в г.Екатеринбурге и занимается более 2 лет производством косметологического, педикюрного оборудования, а также оборудования для тату салонов, подкатных тележек, аппаратных столиков и дополнительного оснащения.</p>
    </div>
    <img src="../img/about__gallery--02.jpg" alt="" class="simple__img">
    <div class="simple__wrapper">
      <h2 class="simple__header title title--page">Заголовок</h2>
      <p class="simple__text">Педикюрное кресло (кушетка) «УСИЛЕННЫЙ» (высота, по выбору 69 или 79 см), имеет повышенную прочность и устойчивость. Выполнен из толстостенной металлической трубы сечения 40х20 мм. Окрашен высокопрочной порошковой краской. Ножные части оборудованы механизмами удлинения и фиксации имеют возможность подъема  вверх до 1,1 м. Кресло оборудовано удобными быстросъемными, складными  подлокотниками. Спинная и ножные части имеют стопорные механизмы, позволяющие отрегулировать и установить нужный угол наклона.</p>
      <p class="simple__text">Педикюрное кресло (кушетка) «УСИЛЕННЫЙ» (высота, по выбору 69 или 79 см), имеет повышенную прочность и устойчивость. Выполнен из толстостенной металлической трубы сечения 40х20 мм. Окрашен высокопрочной порошковой краской. Ножные части оборудованы механизмами удлинения и фиксации имеют возможность подъема  вверх до 1,1 м. Кресло оборудовано удобными быстросъемными, складными  подлокотниками. Спинная и ножные части имеют стопорные механизмы, позволяющие отрегулировать и установить нужный угол наклона.</p>
      <p class="simple__text">Педикюрное кресло (кушетка) «УСИЛЕННЫЙ» (высота, по выбору 69 или 79 см), имеет повышенную прочность и устойчивость. Выполнен из толстостенной металлической трубы сечения 40х20 мм. Окрашен высокопрочной порошковой краской. Ножные части оборудованы механизмами удлинения и фиксации имеют возможность подъема  вверх до 1,1 м. Кресло оборудовано удобными быстросъемными, складными  подлокотниками. Спинная и ножные части имеют стопорные механизмы, позволяющие отрегулировать и установить нужный угол наклона.</p>
    </div>
  </section>
</main>
//= "../blocks/footer/footer.html"
//= "../blocks/modal/modal.html"
<script src="js/libs.js"></script>
<script src="js/general.js"></script>
</body>
</html>
