.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f3f3f3;
}

.footer__top {
  padding-right: 15px;
  padding-bottom: 80px;
  padding-left: 15px;
  border-bottom: 1px solid #131313;
}

.footer__bottom {
  padding-top: 35px;
  padding-right: 15px;
  padding-left: 15px;
}

.footer__copyright {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
}

.footer__politic {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 14px;
  transition: all 0.3s;

  &:hover {
    color: $active-color;
  }
}

.footer__development {
  margin: 0;
  font-size: 14px;
  transition: all 0.3s;

  a {
    transition: all 0.3s;

    &:hover {
      color: $main-color;
    }
  }
}

.footer__header {
  display: block;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  @include list-reset;
  margin: 0;
  margin-top: 30px;

  .footer__header {
    margin-bottom: 15px;
  }
}

.footer__sub-list {
  @include list-reset;
  margin: 0;
}

.footer__sub-item {
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s;

  &:hover,
  &:focus {
    color: $active-color;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.footer__hot-line {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 14px;
}

.footer__phone {
  display: block;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.3s;

  &:hover {
    color: $active-color;
  }
}

.footer__email {
  display: inline-block;
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s;
  text-decoration-line: underline;

  &:hover {
    color: $active-color;
  }
}

@media (min-width: 768px) {
  .footer__list {
    display: flex;

    .footer__header {
      margin-bottom: 45px;
      color: #000000;
      transition: all 0.3s;

      &:hover {
        color: $active-color;
      }
    }
  }

  .footer__item {
    max-width: 241px;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  .footer__sub-item {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    padding-top: 65px;
  }

  .footer__top {
    @include page-wrapper;
    display: flex;
  }

  .footer__list {
    margin-top: 23px;
    margin-left: 145px;
  }

  .footer__bottom {
    @include page-wrapper;
  }

  .footer__item {
    width: 240px;
  }
}
