.catalog {
  padding: 0 15px;
}

.catalog__title {
  margin: 30px 0;
}

.catalog__list {
  @include list-reset;
  margin: 0;
}

.catalog__item {
  position: relative;
  padding: 19px 19px 0 19px;
  border: 1px solid #efeeec;
  border-bottom: none;
  box-shadow: none;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 -6px 8px rgba(88, 88, 88, 0.15);

    .catalog__info {
      box-shadow: 0 6px 8px rgba(88, 88, 88, 0.15);
    }
  }
}

.catalog__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;

  img {
    height: 200px;
  }
}

.catalog__flag {
  position: absolute;
  top: 19px;
  left: 19px;
  width: calc(100% - (19px * 2));
}

.catalog__desc {
  position: absolute;
  top: 35px;
  left: 30px;
  display: none;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: 1.5px solid #902757;
  border-radius: 5px;
  transform: skew(-12deg);
}

.catalog__icon-wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #902757;
  border-radius: 50%;

  &:hover,
  &:focus,
  &:active {
    & + .catalog__desc {
      display: block;
    }
  }
}

.catalog__icon {
  width: 29px;
  height: 29px;
  fill: #902757;
}

.catalog__categories {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 7px;
  font-size: 12px;
  color: #adadad;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.catalog__name {
  display: flex;
  align-items: center;
  max-width: 250px;
  min-height: 50px;
  margin: 0;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  transition: all 0.3s;

  &:hover {
    color: $active-color;
  }
}

.catalog__label {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  color: #6c6c6c;
}

.catalog__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.catalog__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  margin-left: auto;
  background-color: transparent;
  border-left: 1px solid #f3f2f0;
  transition: all 0.3s;

  .catalog__icon {
    transition: all 0.3s;
    fill: $main-color;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $main-color;

    .catalog__icon {
      fill: #ffffff;
    }
  }
}


.catalog__controls {
  display: flex;
  margin-right: -19px;
  margin-left: -19px;
  padding-left: 19px;
  border-top: 1px solid #f3f2f0;
  border-bottom: 1px solid #f3f2f0;
}

.catalog__price-wrapper {
  padding-top: 10px;
  padding-bottom: 28px;
}


.catalog__info {
  display: none;
}

.catalog__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

@media (min-width: 768px) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .catalog__info {
    position: absolute;
    z-index: -1;
    display: block;
    width: calc(100% + 2px);
    margin-right: -19px;
    margin-left: -20px;
    padding: 9px 20px 19px 19px;
    background-color: #ffffff;
    border-right: 1px solid #f3f2f0;
    border-bottom: 1px solid #f3f2f0;
    border-left: 1px solid #f3f2f0;
    box-shadow: none;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.5s;

    .catalog__row {
      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }


  .catalog {
    @include page-wrapper;
  }

  .catalog__item {
    position: relative;
    z-index: 100;
    width: 33.33%;
    background-color: #ffffff;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

    &:hover {
      z-index: 110;

      & > .catalog__info {
        z-index: 900;
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

.catalog__filter-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
  margin: 0 auto;
  padding: 12px 35px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $active-color;
  border-radius: 30px;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: $main-color;
  }

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 16px;
    margin-right: 10px;
    background-image: url("../../img/filter.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.catalog__wrapper {
  text-align: center;
}

.catalog__sorting {
  margin: 20px 0;
}

.catalog__pagination {
  margin: 30px 0;
}

@media (min-width: 1200px) {
  .catalog__filter-button {
    display: none;
  }

  .catalog__title {
    margin: 60px 0;
  }

  .catalog__filter {
    margin-right: 30px;
  }

  .catalog__wrapper {
    display: flex;
    padding-bottom: 100px;
  }

  .catalog__sorting {
    justify-content: flex-end;
  }

  .catalog__pagination {
    margin-top: 60px;

    .pagination__list {
      justify-content: center;
    }
  }
}
